.img{
    height: 10vh;
    width: 8vh;
    object-fit: contain;

}

.small-font{
    font-size: 10px;
}


.medium-font{
    font-size: 15px;
}
.position-right{
position: absolute;
left: 100px;
top: 150px;
}